input[type=text],[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:20px;
}
.movie-poster-form{
   text-align: center;
}

.movie-poster-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    max-width: 1080px;
    margin:0 auto;
    margin-top: 20px;
}