.movie-info-form{
  max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.movie-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0;
}